USE [sistema_parqueo]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 19/10/2024 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[idBitacora] [int] IDENTITY(1,1) NOT NULL,
	[numeroPlaca] [varchar](6) NULL,
	[fechaHora] [datetime] NULL,
	[accion] [varchar](20) NOT NULL,
	[motivoFallido] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngresoEgreso]    Script Date: 19/10/2024 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresoEgreso](
	[idRegistro] [int] IDENTITY(1,1) NOT NULL,
	[numeroPlaca] [varchar](6) NULL,
	[idParqueo] [int] NULL,
	[tipoRegistro] [varchar](10) NOT NULL,
	[fechaHora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parqueo]    Script Date: 19/10/2024 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parqueo](
	[idParqueo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[capacidadRegular] [int] NOT NULL,
	[capacidadMoto] [int] NOT NULL,
	[capacidadLey7600] [int] NOT NULL,
	[ocupacionActualRegular] [int] NULL,
	[ocupacionActualMoto] [int] NULL,
	[ocupacionActualLey7600] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idParqueo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/10/2024 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[cedula] [varchar](10) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[passw0rd] [varchar](255) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[numeroPlaca] [varchar](6) NULL,
	[fechaNacimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 19/10/2024 22:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[numeroPlaca] [varchar](6) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[color] [varchar](30) NULL,
	[tipo] [varchar](10) NOT NULL,
	[espacioLey7600] [bit] NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[numeroPlaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[IngresoEgreso] ADD  DEFAULT (getdate()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[Parqueo] ADD  DEFAULT ((0)) FOR [ocupacionActualRegular]
GO
ALTER TABLE [dbo].[Parqueo] ADD  DEFAULT ((0)) FOR [ocupacionActualMoto]
GO
ALTER TABLE [dbo].[Parqueo] ADD  DEFAULT ((0)) FOR [ocupacionActualLey7600]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((0)) FOR [espacioLey7600]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD FOREIGN KEY([numeroPlaca])
REFERENCES [dbo].[Vehiculo] ([numeroPlaca])
GO
ALTER TABLE [dbo].[IngresoEgreso]  WITH CHECK ADD FOREIGN KEY([idParqueo])
REFERENCES [dbo].[Parqueo] ([idParqueo])
GO
ALTER TABLE [dbo].[IngresoEgreso]  WITH CHECK ADD FOREIGN KEY([numeroPlaca])
REFERENCES [dbo].[Vehiculo] ([numeroPlaca])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_placa] FOREIGN KEY([numeroPlaca])
REFERENCES [dbo].[Vehiculo] ([numeroPlaca])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_placa]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [CHK_Accion] CHECK  (([accion]='Egreso' OR [accion]='Ingreso exitoso' OR [accion]='Ingreso fallido'))
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [CHK_Accion]
GO
ALTER TABLE [dbo].[IngresoEgreso]  WITH CHECK ADD  CONSTRAINT [CHK_TipoRegistro] CHECK  (([tipoRegistro]='Egreso' OR [tipoRegistro]='Ingreso'))
GO
ALTER TABLE [dbo].[IngresoEgreso] CHECK CONSTRAINT [CHK_TipoRegistro]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CHK_Estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CHK_Estado]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CHK_TipoVehiculo] CHECK  (([tipo]='Moto' OR [tipo]='Vehiculo'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CHK_TipoVehiculo]
GO
